.footer {
    width: 100%;
    background-color: #1B0A2A;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  
  .centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .direitos {
    font-size: 0.8rem;
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .social {
    display: flex;
    gap: 15px;
  }
  
  .social a {
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .social a:hover {
    transform: scale(1.1);
  }
  .social a {
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social a:hover {
    transform: scale(1.2);
    color: #ffffff; /* Um lilás elegante */
  }
  .logo {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 10px; /* Espaçamento entre o logo e a escrita */
  }
  
  .logoImage {
    width: 40px; /* Ajuste conforme necessário */
    height: auto;
  }
  
  
  
  